@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root
{
    --color_red: #d20c0c;
    --bg_color: #c61019;
}


*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* header start */

header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg_color);
    padding: 1rem;
    z-index: 1000;
}
header img
{
    height: auto;
}
header .navbar a
{
    font-size: 1.7rem;
    color: #fff;
    padding: .2rem 1rem;
    border: .1rem solid transparent;
}
header .navbar a.active,
header .navbar a:hover
{
    border: .1rem solid white;
}
header .icons i
{
    font-size: 2rem;
    color: #fff;
    margin-left: 1rem;
}
header .icons i:hover
{
    color: var(--color_red);
}
header .icons #menu
{
    display: none;
}


/* header end */

/* home start */
.home .slider .slide
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    color: #fff;
}
.home .slider .slide1
{
    background: url(img/home1.jpg);
}
.home .slider .slide2
{
    background: url(img/home2.jpg);
}
.home .slider .slide3
{
    background: url(img/home3);
}
.home .slider .slide1,
.home .slider .slide2,
.home .slider .slide3
{
    background-repeat: no-repeat;
    background-size: cover;
}
.home .slider .slide .content 
{
    text-align: center;
    backdrop-filter: blur(10px);
    height: 40vh;
    margin-left: 9rem;
    padding-left: 2rem;
    margin-right: 9rem;
    padding-right: 2rem;
}
.home .slider .slide .content h1
{
    margin-top: 2rem;
    font-size: 5rem;
}
.home .slider .slide .content p
{
    margin-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    width: 30rem;
    text-indent: 2rem;
}
.btn
{
    margin-top: 2rem;
    border: 1px solid white;
    background: transparent;
    color: #fff;
    padding: .5rem 1.5rem;
    position: relative;
    z-index: 1;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
}
.btn::before
{
    position: absolute;
    content: '';
    background: #d20c0c;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: .3s;
}
.btn:hover.btn::before
{
    left: 0;
}
.swiper-pagination-bullet
{
    background: var(--color_red)!important;
    border-radius: 0!important;
}

/* home end */

/* about start */
.about
{
    margin: 100px 20px;
    border: .3rem solid #0e0707;
}
.about-container
{
    display: flex;
    width: 100%;
}
.about-container .image
{
    overflow: hidden;
    width: 50%;
    height: 35rem;
}
.about-container .image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-container .content
{
    width: 50%;
}
.about-container .content h1
{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}
.about-container .content p
{
    font-size: 1.7rem;
    padding: 1.5rem;
    text-indent: 2.5rem;
}
/* about end */

/* bike start */
.bike
{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.bike h1
{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.bike .bike-list
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.bike .bike-list .model
{
    
    width: 40rem;
    height: 20rem;
    border: 1px solid black;
    margin: 5px;
}
.bike .bike-list .model img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* bike end */

/* team start */
.team
{
    margin: 20px 20px;
}

.team .heading
{
    font-size: 3rem;
    text-align: center;
}
.team .team-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    width: 100%;
    height: 50rem;
    grid-gap: 1.5rem;
    overflow: hidden;
}
.team .team-container .team-user
{
    position: relative;
}
.team .team-container .team-user::before
{
    content: '';
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
    display: none;
    top: 0;left: 0;right: 0;bottom: 0;
}
.team .team-container .team-user:hover.team-user::before
{
    display: block;
}
.team .team-container .team-user .image img
{
    width: 100%;
}
.team .team-container .team-user .info
{
    top: 100%;
    position: absolute;
    left: 0;right: 0;bottom: 0;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.team .team-container .team-user:hover .info
{
    top: 0;
}
.team .team-container .team-user .info h1
{
    font-size: 2.7rem;
    color: white;
    margin-top: 3rem;
}
.team .team-container .team-user .info ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}
.team .team-container .team-user .info ul li a
{
    font-size: 1.7rem;
    margin: 0 6px;
    color: white;
}

/* team end */

/* order start */
.order
{
    /* margin: 40px 20px; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.order .image
{
    width: 55%;
    background: url(./img/about_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 9rem;
}
.order .form
{
    background: #181818;
    width: 45%;
    padding: 9rem 7%;
}
.order .form h1
{
    color: white;
}
.order .form .form-select
{
    display: flex;
    grid-gap: 3rem;
    width: 100%;
    justify-content: center;
}
.order .form h1
{
    font-size: 3rem;
}
.order .form form .form-select input,
.order .form form .form-select select
{   
    display: block;
    margin: 2rem 0;
    width: 100%;
    background: none;
    border-bottom: .1rem solid #b7b3b3;
    color: #b7b3b3;
    font-size: 1.8rem;
    font-weight: 300;
}

.order .form form input::placeholder {
    color: #b7b3b3;
}
/* order end */

/* news start */
.news
{
    margin: 40px;
}
.news h1
{
    text-align: center;
    font-size: 3rem;
}
.new-list
{
    display: flex;
    gap: 1.5rem;
}
.new-list .item
{
    text-align: center;
    margin: 12px;
    width: 33%;
    background:#ffffff;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
}
.new-list .item .image
{
    position: relative;
    overflow: hidden;
}
.new-list .item .image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new-list .item .image:hover img
{
    transform: scale(1.2);
}

/* news end */

/* footer start */
footer
{
    background: #0e0707;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
footer h1
{
    color: white;
}
footer ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li
{
    list-style: none;
}
footer ul li a
{
   font-size: 24px;
   color: white;
}

   /* footer end */

 /* custom scroll bar */
 ::-webkit-scrollbar{
    width: 8px;
 }
 ::-webkit-scrollbar-thumb {
    background: #c61019;
 }
/* media query */
@media (max-width:991px)
{
    html
    {
        font-size: 55%;
    }
}

@media (max-width:640px)
{
    header .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--bg_color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a 
    {
        display: block;
        padding: 2rem 4rem;
        border: .2rem solid #fff;
        margin: 1rem;
        background: var(--bg_color);
    }
    header .icons #menu
    {
        display: inline-block;
    }
    .home .slider .slide
    {
        height: 60vh;
    }
    .home .slider .slide .content
    {
        margin: auto;
        margin-top: 10rem;
    }
    .order .image
    {
        width: 0%;
    }
    .order .form
    {
        width: 100%;
    }
}

@media (max-width:800px)
{
    .about-container 
    {
        width: 100%;
        flex-direction: column-reverse;
        height: auto;
    }
    .about-container .image
    {
        text-align: center;
        width: 100%;
    }
    .about-container .content
    {
        width: 100%;
    }
    .new-list
    {
        display: grid;
    }
    .new-list .item
    {
        width: 100%;
    }
}